html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  width: 60rem;
  margin: auto;
}

header {
  background-color: #4890b4;
  text-align: center;
  padding: 1rem;
  color: #fff;
}
#query {
  width: 40%;
}

link a {
  display: block;
}

main {
  background-color: rgb(245, 243, 243);
  padding: 1rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

article {
  width: calc(100% / 3 - 1rem);
  box-sizing: border-box;
  cursor: pointer;
  border: 1px #ccc solid;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 3px 6px 6px #ccc;
  transition: all 0.2s ease-in-out;
  background-color: white;
}

article:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 2px #ccc;
}

article h2 {
  margin: 0;
  text-align: center;
  padding: 0 0 0.5rem 0;
}

figure {
  margin: 0;
  text-align: center;
}

figure img {
  width: 100%;
}

figcaption {
  text-align: center;
}

.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}

.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}





/*
dialog {
  position: fixed;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  display: block;
}

dialog[open] {
  opacity: 1;
}

dialog::backdrop {
  background: rgb(0 0 0 / 0.8);
}

dialog span {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  filter: drop-shadow(2px 2px 2px #000);
}*/
